<%- include('partials/head.ejs') %>
  </head>

  <body>
    <%- include('partials/header-nav.ejs') %>
    <main>
      <h1>404</h1>
      <p>Page not found</p>
    
    </main>
  <%- include('partials/end.ejs') %>