<%- include('partials/head.ejs') %>
  </head>

  <body>
    <%- include('partials/header-nav.ejs') %>
    <main>
      <h1>Some error occurred!</h1>
      <p>We are working on this! Sorry for the inconvenience</p>
    </main>
  <%- include('partials/end.ejs') %>