<%- include('../partials/head.ejs') %>
    
  </head>

  <body>
   <%- include('../partials/header-nav.ejs') %>
    <main>
        <h1>Cart Page</h1>
    </main>
 <%- include('../partials/end.ejs') %>